# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/.idea
/node_modules
/dist
/onlineShop.iml
/package-lock.json
/drizzle
