<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css" />
    {{#if productsCSS}}
      <link rel="stylesheet" href="/css/product.css" />
    {{/if}}
    {{#if shopCSS}}
      <link rel="stylesheet" href="/css/shop.css" />
    {{/if}}
  </head>
  <body>
    <header>
      <nav>
        <ul>
            <li><a href="/" class="{{#if activeShop}}active{{/if}}">Shop</a></li>
            <li><a href="/admin/add-product" class="{{#if activeAdmin}}active{{/if}}">Add Product</a></li>
            <li><a href="/cart" class="{{#if activeCart}}active{{/if}}">Cart</a></li>
            <li><a href="/products" class="{{#if activeProducts}}active{{/if}}">Products</a></li>
            <li><a href="/admin/products" class="{{#if activeAdminProducts}}active{{/if}}">Admin Products</a></li>
            <li><a href="/orders" class="{{#if activeOrders}}active{{/if}}">Orders</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
