<main>
  <form action="/admin/add-product" method="post">
    <label>
      <input type="text" name="title" />
    </label>
    <button type="submit">
      Add product
    </button>
  </form>
</main>
