<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/admin/add-product">Add Product</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Products</h1>
      {{#if hasProducts}}
        <h2>pizda matii</h2>
      {{else}}
        <h3>sloboz</h3>
      {{/if}}
      <h3>mata</h3>
    </main>
  </body>
</html>
