* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #41393e;
}

a {
  color: #41393e;
  text-decoration: none;
}

a:hover {
  color: #c7e8f3;
}

ul {
  list-style: none;
  margin-left: 10px;
  align-content: center;
  gap: 10px;
  display: flex;
  font-size: 1.2rem;
}

header {
  padding: 15px;
  background-color: #eda2c0;
  margin-bottom: 20px;
}

h1 {
  margin-left: 10px;
}

.active {
  color: #c7e8f3;
}
