form {
  width: 200px;
  gap: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #c7e8f3ff;
}

button:hover {
  background-color: #eda2c0;
}
