.product {
  max-width: 400px;
}

.product-header,
.product-header h1 {
  padding: 0;
  margin: 0;
}

.price {
  font-size: 1.44rem;
}

.product-desc,
.price {
  padding: 0;
  background-color: #eda2c0;
  text-align: center;
}

img {
  max-height: 400px;
  max-width: 400px;
}

.grid {
  margin-left: 1%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-template-rows: repeat(10, 1fr);
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  height: 90%;
  background-color: #c7e8f3ff;
}

.btn:hover {
  background-color: #f0eff4;
}

.product-actions {
  background-color: #eda2c0;
  display: flex;
  gap: 10px;
  justify-content: center;
  height: 10%;
}
