<main>
  {{#if products}}<ul class="cart-list" style="display: block">{{#each
        products
      }}<li><p>{{productData.title}}</p>
          <form action="cart-delete-item" method="post">
            <input type="hidden" value="{{productData.id}}" name="productId" />

            <button class="btn" type="submit">Delete</button></form>
        </li>{{/each}}</ul>
  {{else}} <p>No products</p>{{/if}}
</main>
